p.Estilo2 {
    font-size: 20px;
}

h2.Estilo {
    color: blue;
}

h1.Estilo3 {
    color: blueviolet;
    text-align: center;
}

a:link {
    color: red;
}

a:visited {
    color: yellow;
}

a:hover {
    color: rgb(119, 0, 119);
}

a {
    text-decoration: none;
}

img.chica {
    width: 50px;
    height: 50px;
    display:block;
margin:auto;
}

img.mediana {
    width: 150px;
    height: 150px;
    display:block;
margin:auto;
}

img.grande {
    width: 300px;
    height: 200px;
    display:block;
margin:auto;
}
